@import '~antd/dist/antd.css';
.main-title {
  background-color: rgba(241, 245, 245, 0.7);
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1000;
  width: 640px;
  color:black;
  border-radius: 3px;
}
.menu {
  background-color: rgba(241, 245, 245, 0.7);
  position: absolute;
  top: 65px;
  left: 10px;
  z-index: 1000;
  width: 560px;
  color:black;
  border-radius: 3px;
}
.map-title {
  text-align: left;
  padding-left: 24px;
  font-size: 25px;
}
.map-text {
  text-align: left;
  padding-left: 28px;
  padding-right: 24px;
  font-size: 16px;
  padding-bottom: 24px;
}
.checkboxRow1 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  font-size: 18px;
}
.checkboxRow {
  padding-left: 24px;
  padding-right: 24px;
  /*padding-top: 24px;*/
  font-size: 18px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-layout {
  height: 100%;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
